@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@300;400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.side__menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 0 0 0 60px;
}

.side {
  width: 25%;
  
}

.side__item {
  cursor: pointer;
}

@media (max-width: 768px) {
  .side {
    display: none;
  }
}
